# Archivos objeto
*.o

# Archivos ejecutables
*.exe
*.out

# Archivos generados por el compilador
*.dSYM/
*.swo
*.swp

# Archivos de respaldo
*~

#Archivos sin extension
*.
*./
*


# Directorios de compilación
build/
bin/